# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# Build directories
dist/
build/

# Vercel specific files (if any)
.vercel/

# MacOS specific files
.DS_Store

# Any other specific files or folders to ignore
.vercel
